
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.displayMenu == "Yes")
{
<h1> Bienvenido  <strong>@ViewBag.Name</strong> Estas logeado como Administrador </h1>
<h2>Ahora puedes crear nuevos roles.</h2>
    <h3>
        <li>@Html.ActionLink("Agregar Nuevos Roles", "Index", "Role")</li>
    </h3>
}
else
{
    <h2>  Bienvenido <strong>@ViewBag.Name</strong>. Estas logeado como <strong>@ViewBag.Rol</strong></h2>
}


