<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="ProyectoProgra5Entities" connectionString="metadata=res://*/ModeloArticulosPerdidos.csdl|res://*/ModeloArticulosPerdidos.ssdl|res://*/ModeloArticulosPerdidos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ALFQH7U;initial catalog=ProyectoProgra5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
