<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="ProyectoProgra5Entities" connectionString="metadata=res://*/ModeloArticulosPerdidos.csdl|res://*/ModeloArticulosPerdidos.ssdl|res://*/ModeloArticulosPerdidos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NM0TVC0;initial catalog=ProyectoProgra5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProyectoProgra5Entities1" connectionString="metadata=res://*/ModeloArticulosPerdidos.csdl|res://*/ModeloArticulosPerdidos.ssdl|res://*/ModeloArticulosPerdidos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ProyectoProgra5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConection" connectionString="metadata=res://*/ModeloArticulosPerdidos.csdl|res://*/ModeloArticulosPerdidos.ssdl|res://*/ModeloArticulosPerdidos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ProyectoProgra5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.SqlClient" />
    <add name="ProyectoProgra5Entities2" connectionString="metadata=res://*/ModeloArticulosPerdidos.csdl|res://*/ModeloArticulosPerdidos.ssdl|res://*/ModeloArticulosPerdidos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ALFQH7U;initial catalog=ProyectoProgra5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>